<div class="collection-card game-entry-content"
     role="button"
     tabindex="0"
     @onclick="HandleClick">

    <div class="game-entry-header">
        @if (!string.IsNullOrWhiteSpace(Game.Cover?.ImagePath))
        { 
            <LocalImage ImagePath="@Game.Cover.ImagePath"
                        ImageClass="game-cover"
                        AltText="@($"{Game.Name} cover")">
                <Placeholder>
                    <div class="game-cover game-cover-placeholder">
                        No Cover
                    </div>
                </Placeholder>
            </LocalImage>
        }
        else
        {
            <div class="game-cover game-cover-placeholder">
                No Cover
            </div>
        }

        <div class="game-information">
            <label class="game-title">@Game.Name</label>
            @if (!string.IsNullOrWhiteSpace(Game.ReleaseDate?.ToString()))
            {
                <label class="game-release-date">@Game.ReleaseDate?.ToString()</label>
            }
        
            @if (DeveloperNames.Count > 0 && PublisherNames.Count > 0)
            {
                <label class="game-developer">
                    @string.Join(", ", DeveloperNames) - @string.Join(", ", PublisherNames)
                </label>
            }
            else if (DeveloperNames.Count > 0)
            {
                <label class="game-developer">@string.Join(", ", DeveloperNames)</label>
            }
            else if (PublisherNames.Count > 0)
            {
                <label class="game-developer">@string.Join(", ", PublisherNames)</label>
            }

            @if (!string.IsNullOrWhiteSpace(Game.Summary))
            { 
                <p class="game-summary">@Game.Summary</p>
            }
        </div>
    </div>
    
    @if (ShowButtons)
    {
        <div class="game-buttons">
            <button class="game-button-playthroughs"
                    type="button"
                    @onclick="HandlePlaythroughs"
                    @onclick:stopPropagation="true">
                Playthroughs
            </button>
            <button class="game-button-logs"
                    type="button"
                    @onclick="HandleLogs"
                    @onclick:stopPropagation="true">
                Logs
            </button>
            <button class="game-button-remove"
                    type="button"
                    @onclick="HandleRemove"
                    @onclick:stopPropagation="true">
                Remove
            </button>
        </div>
    }
</div>
