<div class="collection-card"
     role="button"
     tabindex="0"
     @onclick="HandleClick">
    
    <div class="game-entry-hero">
        <LocalImage ImagePath="@Game.Hero?.ImagePath"
                    ImageClass="game-hero"
                    AltText="@($"{Game.Name} hero")"
                    MaxWidth="480"
                    MaxHeight="155"/>
        
    </div>

    <div class="game-entry-body">
        <div class="game-entry-header">
            <LocalImage ImagePath="@Game.Cover?.ImagePath"
                        ImageClass="game-cover"
                        AltText="@($"{Game.Name} cover")"
                        MaxWidth="160"
                        MaxHeight="240"/>
            
            
        </div>

        <div class="game-entry-content">
            <div class="game-information">
                <label class="game-title">@Game.Name</label>
                @if (!string.IsNullOrWhiteSpace(Game.ReleaseDate?.ToString()))
                { 
                    <label class="game-release-date">@Game.ReleaseDate?.ToString()</label>
                }
                
                @switch (DeveloperNames.Count)
                {
                    case > 0 when PublisherNames.Count > 0:
                        <label class="game-developer">
                            @string.Join(", ", DeveloperNames) - @string.Join(", ", PublisherNames)
                        </label>
                        break;
                    case > 0:
                        <label class="game-developer">@string.Join(", ", DeveloperNames)</label>
                        break;
                    default:
                    {
                        if (PublisherNames.Count > 0)
                        {
                            <label class="game-developer">@string.Join(", ", PublisherNames)</label>
                        }

                        break;
                    }
                }
            </div>
            
            @if (!string.IsNullOrWhiteSpace(Game.Summary))
            {
                <p class="game-summary">@Game.Summary</p>
            }
        </div>

        <div class="game-buttons">
            <button class="game-button-playthroughs"
                    type="button"
                    @onclick="HandlePlaythroughs"
                    @onclick:stopPropagation="true">
                Playthroughs
            </button>

            <button class="game-button-logs"
                    type="button"
                    @onclick="HandleLogs"
                    @onclick:stopPropagation="true">
                Logs
            </button>

            <button class="game-button-remove"
                    type="button"
                    @onclick="HandleRemove"
                    @onclick:stopPropagation="true">
                Remove
            </button>
        </div>
    </div>
</div>
