@using VGL.Models.Games.Platforms

<div class="ownership-input-widget">
    @if (Platforms.Count == 0)
    {
        <p class="form-hint">Add a platform before setting ownership.</p>
    }
    else
    {
        @foreach (var platform in Platforms)
        {
            bool isSelected = IsSelected(platform.ID);

            <div class="ownership-row @(isSelected ? "ownership-row-selected" : null)"
                 role="checkbox"
                 tabindex="0"
                 aria-checked="@isSelected"
                 aria-label="@platform.Name"
                 @key="platform.ID"
                 @onclick="() => TogglePlatform(platform.ID)"
                 @onkeydown="args => HandleRowKeyDown(platform.ID, args)">
                <div class="ownership-platform">
                    <input type="checkbox"
                           class="ownership-checkbox"
                           tabindex="-1"
                           aria-hidden="true"
                           checked="@isSelected"
                           readonly />
                    <span class="ownership-platform-name">@platform.Name</span>
                </div>

                <div class="ownership-select-shell"
                     @onclick:stopPropagation="true"
                     @onpointerdown:stopPropagation="true"
                     @onkeydown:stopPropagation="true">
                    <select class="detail-input ownership-type-select"
                            disabled="@(!isSelected)"
                            value="@GetOwnershipType(platform.ID)"
                            @onchange="args => ChangeOwnershipType(platform.ID, args.Value?.ToString())">
                        <option value="@OwnershipType.Digital">Digital</option>
                        <option value="@OwnershipType.Physical">Physical</option>
                        <option value="@OwnershipType.Subscription">Subscription</option>
                    </select>
                </div>
            </div>
        }
    }
</div>
