<div class="library-entry-card"
     role="button"
     tabindex="0"
     @onclick="HandleClick">
    
    @* <div class="library-entry-hero"> *@
    @*     <LocalImage ImagePath="@Platform.Hero?.ImagePath" *@
    @*                 ImageClass="library-entry-hero-image" *@
    @*                 AltText="@($"{Platform.Name} hero")" *@
    @*                 MaxWidth="480" *@
    @*                 MaxHeight="155"/> *@
    @*      *@
    @* </div> *@

    <div class="library-entry-body">
        <div class="library-entry-header">
            <div class="library-entry-cover">
                <LocalImage ImagePath="@Entry.Cover?.ImagePath"
                            ImageClass="library-entry-cover-image"
                            AltText="@($"{Entry.Name} cover")"
                            MaxWidth="200"
                            MaxHeight="300"/>
            </div>
            
            <div class="library-entry-logo">
            @*     <LocalImage ImagePath="@Platform.Logo?.ImagePath" *@
            @*                 ImageClass="library-entry-logo-image" *@
            @*                 AltText="@($"{Platform.Name} logo")" /> *@
            @*                 $1$ MaxWidth="160" #1# *@
            @*                 $1$ MaxHeight="240"/> #1# *@
            </div>
        </div>

        <div class="library-entry-content">
        @*     <div class="library-entry-information"> *@
        @*         <label class="library-entry-title">@Platform.Name</label> *@
        @*         <DateOnlyWidget Date="Platform.ReleaseDate" Class="library-entry-release-date"/> *@
        @*         $1$ <CompaniesWidget DeveloperNames="DeveloperNames" #1# *@
        @*         $1$                  PublisherNames="PublisherNames" #1# *@
        @*         $1$                  LabelClass="library-entry-company" /> #1# *@
        @*     </div> *@
        @*      *@
        @*     @if (!string.IsNullOrWhiteSpace(Platform.Summary)) *@
        @*     { *@
        @*         <p class="library-entry-summary">@Platform.Summary</p> *@
        @*     } *@
        </div>

        @* <div class="library-entry-buttons"> *@
        @*     <button class="library-entry-button-playthroughs" *@
        @*             type="button" *@
        @*             $1$ @onclick="HandlePlaythroughs" #1# *@
        @*             @onclick:stopPropagation="true"> *@
        @*         Playthroughs *@
        @*     </button> *@
        @* *@
        @*     <button class="library-entry-button-logs" *@
        @*             type="button" *@
        @*             $1$ @onclick="HandleLogs" #1# *@
        @*             @onclick:stopPropagation="true"> *@
        @*         Logs *@
        @*     </button> *@
        @* *@
        @*     <button class="library-entry-button-remove" *@
        @*             type="button" *@
        @*             @onclick="HandleRemove" *@
        @*             @onclick:stopPropagation="true"> *@
        @*         Remove *@
        @*     </button> *@
        @* </div> *@
    </div>
</div>
