<div class="library-entry-card"
     role="button"
     tabindex="0"
     @onclick="HandleClick">
    
    <div class="library-entry-hero">
        <LocalImage ImagePath="@Entry.Hero?.ImagePath"
                    ImageClass="library-entry-hero-image"
                    AltText="@($"{Entry.Name} hero")"
                    MaxWidth="400"
                    MaxHeight="200"/>
    
    </div>

    <div class="library-entry-content">
        <div class="library-entry-header">
            <div class="library-entry-cover">
                <LocalImage ImagePath="@Entry.Cover?.ImagePath"
                            ImageClass="library-entry-cover-image"
                            AltText="@($"{Entry.Name} cover")"
                            MaxWidth="200"
                            MaxHeight="300"/>
            </div>
            <div class="library-entry-logo">
                <LocalImage ImagePath="@Entry.Logo?.ImagePath"
                            ImageClass="library-entry-logo-image"
                            AltText="@($"{Entry.Name} logo")"
                            MaxWidth="500"
                            MaxHeight="200"/>
            </div>
        </div>

        <div class="library-entry-body">
            <div class="library-entry-information">
                <label class="library-entry-title">@Entry.Name</label>
                <DateOnlyWidget Date="Entry.ReleaseDate" 
                                Class="library-entry-release-date" />
                @* <CompaniesWidget DeveloperNames="DeveloperNames" *@
                @*                  PublisherNames="PublisherNames" *@
                @*                  LabelClass="library-entry-company" /> *@
            </div>
        
            @if (!string.IsNullOrWhiteSpace(Entry.Summary))
            {
                <p class="library-entry-summary">@Entry.Summary</p>
            }
        </div>

        <div class="library-entry-footer">
            <div class="library-entry-buttons">

                <button class="button-dot button-colors-info library-entry-button"
                        type="button" >
                    <i class="bi bi-pencil-square"></i>
                </button>
                
                <button class="button-dot button-colors-danger library-entry-button"
                        type="button"
                        @onclick="HandleRemove"
                        @onclick:stopPropagation="true">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
            
            <div class="library-entry-icon">
                <LocalImage ImagePath="@Entry.Icon?.ImagePath"
                            ImageClass="library-entry-icon-image"
                            AltText="@($"{Entry.Name} icon")"
                            MaxWidth="50"
                            MaxHeight="50"/>
            </div>
        </div>
    </div>
</div>
