<div class="game-entry-content"
     role="button"
     tabindex="0"
     @onclick="HandleClick">

    @if (!string.IsNullOrWhiteSpace(Game.Cover?.CoverBig))
    { 
        <img class="game-cover"
         src="@Game.Cover.CoverBig"
         alt="@Game.Name cover" />
    }
    else
    {
        <div class="game-cover game-cover-placeholder">
            No Cover
        </div>
    }

    <div class="game-information">
        <label class="game-title">@Game.Name</label>
        @if (!string.IsNullOrWhiteSpace(Game.ReleaseDateString))
        {
            <label class="game-release-date">@Game.ReleaseDateString</label>
        }
        
        @if (!string.IsNullOrWhiteSpace(Game.Developer)
             && !string.IsNullOrWhiteSpace(Game.Publisher))
        {
            <label class="game-developer">@Game.Developer - @Game.Publisher</label>
        }
        else if (!string.IsNullOrWhiteSpace(Game.Developer))
        {
            <label class="game-developer">@Game.Developer</label>
        }

        @if (!string.IsNullOrWhiteSpace(Game.Summary))
        { 
            <p class="game-summary">@Game.Summary</p>
        }
    </div>
    
    @if (ShowButtons)
    {
        <div class="game-buttons">
            <button class="game-button-playthroughs"
                    type="button"
                    @onclick="HandlePlaythroughs"
                    @onclick:stopPropagation="true">
                Playthroughs
            </button>
            <button class="game-button-logs"
                    type="button"
                    @onclick="HandleLogs"
                    @onclick:stopPropagation="true">
                Logs
            </button>
            <button class="game-button-remove"
                    type="button"
                    @onclick="HandleRemove"
                    @onclick:stopPropagation="true">
                Remove
            </button>
        </div>
    }
</div>